@import url("https://fonts.googleapis.com/css?family=Nunito:wght");

* {
  text-align: center !important;
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

.Navbar__NavigationBar {
  margin-top: 50px;
  background: white !important;

  h1 {
    font-size: 35px;
    letter-spacing: 1px;
  }

  p {
    color: #a7a7a7;
    font-size: 20px;
    margin-top: 5px;
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.Navbar__NavHeader {
  padding: 10px;
  background: white !important;
  color: black !important;
  font-weight: lighter;
}

img {
  padding-right: 20px;
  margin-bottom: 10px;
}

.Navbar__instagraImage {
  border-radius: 50px;
}

.message__card {
  max-width: 300px;
  margin: 10px;
  padding: 10px;
}

.message_guestCard {
  background: #ffff !important;
  border: 1px solid rgba(0, 0, 0, 0.205);
}

.message__cardUser {
  padding: 0px 10px;
  border-radius: 50px !important;

  h1 {
    font-size: 20px !important;
  }
}

.message_userCard {
  background: #e9e9e9 !important;
}

.message_user {
  margin-left: auto;
}

form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  input {
    border-radius: 50px !important;
    position: relative;
    padding: 15px;
    padding-right: 50px;
    border: 1px solid rgba(58, 58, 58, 0.425);
    text-align: left !important;
    font-weight: 800;
    font-size: 18px;
  }

  .Message__IconButton {
    position: absolute;
    right: 50px;
    margin-top: 4px;
  }

  input:focus {
    outline: none !important;
  }

  .App__FormSubmit {
    background: white;
    display: flex !important;
    flex-direction: row !important;
    padding: 30px 50px;

    .App__InputField {
      flex: 1;
    }
  }
}

.ModalOpen__modal {
  transition: 500ms ease-in-out;
}

.modal__modal {
  z-index: 10;
  background: white;
  border: 2px solid #a53a96;
  width: fit-content;
  position: fixed;
  padding: 50px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  img {
    margin-bottom: 30px;
  }

  .Modal__Button {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 800;
    font-size: 18px;
  }

  input {
    border: 1px solid rgba(0, 0, 0, 0.37);
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
}

#layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  pointer-events: none;
}